body {
    font-family: "Poppins";
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url('../static/images/smile.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    /* background-position: center; */
}

.navi{
    display: flex;
    align-items: center;
}

.navi .iconImage{
    margin-left: 50px;
    font-size: 45px;
    margin-top: 30px;
    color: black;
}

header{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    font-size: calc(min(15px + 1.8vw, 50px));
    /* font-size: 28px; */
    font-weight: 600;
    margin-top: 30px;
}

.form_wrap{
    display: flex;
    align-items: center;
}

.csv_wrap{
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
    /* background: white; */
    width: 100%;
    max-width: 250px;
    height: 75vh;
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 10px 10px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    gap: 20px;
    /* cursor: pointer; */
}

.sidebar-item button{
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
}

.form_wrap .inputForm{
    width: 500px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #bababa;
    border-radius: 15px;
    flex-direction: column;
    margin: 50px 160px;
    background-color: rgba(255, 255, 255, 0.6); 
}

.csv_wrap .inputForm{
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #bababa;
    border-radius: 15px;
    flex-direction: column;
    margin-left: 160px;
    background-color: rgba(255, 255, 255, 0.6); 
}

.csv_wrap .inputForm img{
    width: 220px;

}

.csv_wrap .inputForm input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputForm form{
    /* background: red; */
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 90%;
}

.inputForm form input{
    width: 100%;
    height: calc(min(20px + 2vw, 40px));;
    padding-left: 10px;
    margin: 3px 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

.inputForm button{
    width: 105%;
    height: 50px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    outline: 2px solid rgb(48, 44, 44)a(255, 255, 255, 0.5);;
    background-color: rgba(255, 255, 255, 0.5);
}

.output{
    text-align: center;
    font-size: calc(min(15px + 1.8vw, 32px));
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
}

@media(max-width:930px){

    header{
        margin-top: 50px;
        margin-left: 120px;
    }

    .form_wrap .inputForm{
        /* background-color: red; */
        margin-top: 20px;
        margin-left: 40px;
        height: 380px;
    }

    .csv_wrap .inputForm{
        width: 380px;
        height: 330px;
        /* background-color: red; */
        margin-top: 20px;
        margin-left: 40px;
        height: 380px;
    }

    .inputForm button{
        font-size: 20px;
        font-weight: 500;
    }

    body {
        height: 90vh;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
    }
}

@media(max-width:800px){

    header{
        margin-top: 80px;
        margin-left: 60px;
    }

    .form_wrap .inputForm{
        /* background-color: red; */
        margin-top: 20px;
        margin-left: 20px;
        height: 380px;
    }

    .csv_wrap .inputForm{
        width: 380px;
        height: 330px;
        /* background-color: red; */
        margin-top: 20px;
        margin-left: 10px;
        height: 380px;
    }

    .inputForm button{
        font-size: 20px;
        font-weight: 500;
    }

    body {
        height: 90vh;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
    }
}

@media(max-width:700px){

    .navi{
        display: flex;
        /* margin: auto; */
        flex-direction: column;
    }

    .navi .iconImage{
        margin-left: 20px;
        margin-top: 10px;
    }

    header{
        /* background-color: green; */
        margin: auto;
    }

    .sidebar{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        margin-bottom: 20px;
        gap: 20px;
        /* background: white; */
        width: 100%;
        max-width: 500px;
        height: 140px;
    }

    .sidebar-item{
        width: 76%;
        margin: auto;
    }

    .form_wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .csv_wrap{
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    .form_wrap .inputForm{
        /* background-color: red; */
        height: 60px;
        width: 80%;
        margin: auto;
        height: 380px;
    }

    .csv_wrap .inputForm{
        width: 80%;
        height: 330px;
        /* background-color: red; */
        margin: auto;
        height: 380px;
    }

    body {
        height: 110vh;
        align-items: center;
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
    }

}
