<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Machine Learning Product</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <header>Welcome to Donor Prediction System</header>
    <form action="{{ url_for('predict') }}" method="post">
        <input type="number" name="AGE" placeholder="please inter the age" required="required">
        <input type="text" name="CITY" placeholder="please inter the city" required="required">
        <input type="text" name="EDUCATION_LEVEL" placeholder="please inter the education level" required="required">
        <input type="text" name="GENDER" placeholder="please inter the gender" required="required">
        <input type="text" name="MARITAL_STATUS" placeholder="please inter the martial status" required="required">
        <input type="text" name="OCCUPATION" placeholder="please inter the OCCUPATION" required="required">
        <button type="submit" classname="btm">Predict</button>
    </form>

    {{prediction_text}}
</body>

</html>